body {
    margin: 0;
    height: 100%;
}

.header {
    margin: 0;
    background: linear-gradient(to top, #feeafa, #efd3d7);
    min-height: 40px;
    line-height: 40px;
    font-family: Helvetica, Arial, serif;
    font-size: 20px;
    color: #8E9AAF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-name {
    font-size: 40px;
}

.cart-btn {
    padding: 2px 5px;
    border: 1px solid #8E9AAF;
    background-color: #8E9AAF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.cart-block {
    display: none;
    width: 100%;
    margin: 0;
}

.shown {
    display: block;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FEEAFA;
}

.catalog-name {
    margin: 0;
    font-family: Helvetica, Arial, serif;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: block;
}

.product-block {
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 10px 5px rgba(203, 192, 211, 0.8);
    background-color: #DEE2FF;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}

.btn-buy {
    border: 1px solid #8E9AAF;
    background-color: #8E9AAF;
    border-radius: 5px;
    color: #fff;
}


.load-btn {
    text-align: center;
    font-size: 20px;
    width: 80vw;
    margin: 4vh auto;
    padding: 2vh 5vw;
    border: 1px solid #DEE2FF;
    background-color: #DEE2FF;
    color: #8E9AAF;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.footer {
    min-height: 5vh;
    background: linear-gradient(to top, #efd3d7, #FEEAFA);
    display: flex;
    justify-content: center;
    padding: 2vh 0;
}

.footer span {
    display: block;
    margin: 1vh 0;
}

.footer button {
    display: block;
    margin: 1vh auto;
}